
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '../../../../node_modules/bootstrap/scss/bootstrap';
@import 'layout/_header';
@import 'layout/_main';
@import 'layout/_footer';
@import 'layout/_panner';
@import 'auth/_login';
@import 'auth/register';
@import 'post/_post_detail';


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
