<template>
    <div class="form-login">
        <form autocomplete="off" @submit.prevent="login" method="post">
            <div class="container">
                <div class="box">
                    <h2> 総合ジャーナル</h2>
                </div>
                <div class="alert alert-danger box" v-if="error">
                    <p>{{error}}</p>
                </div>
                <div class="box">
                    <input type="text" placeholder="メールの入力" v-model="email">
                </div>
                <div class="alert alert-danger box" v-if="errors.email">
                    <p>{{errors.email}}</p>
                </div>
                <div class="box">
                    <input type="password" placeholder="パスワードの入力" v-model="password">
                </div>
                <div class="alert alert-danger box" v-if="errors.password">
                    <p>{{errors.password}}</p>
                </div>
                <div class="box">
                    <button type="submit">ログイン</button>
                </div>
            </div>
        </form>
    </div>
</template>
<script>
    export default {
        created() {
            this.$emit('update:layout', 'div');
        },
        data(){
            return {
                email: 'abc@gmail.com',
                password: '123456',
                error: false,
                errors: {
                    email: '',
                    password: '',
                },
            }
        },
        methods: {
            login() {
                const app = this
                this.$auth.login({
                    data: {
                        email: app.email,
                        password: app.password
                    },
                    success: function (res) {},
                    error: function (err) {
                        if(err.response.data.errors) {
                            if(err.response.data.errors.email) {
                                this.errors.email = err.response.data.errors.email[0]
                            }
                            if(err.response.data.errors.password) {
                                this.errors.password = err.response.data.errors.password[0]
                            }
                        } else {
                            if(err.response.data.message) {
                                this.error = err.response.data.message
                            }else {
                                this.error = err.response.data.error.message
                            }
                        }
                    },
                    rememberMe: true,
                    redirect: '/home',
                    fetchUser: false
                });
            }
        }
    }
</script>
