.modal-dialog {
    max-width: 60vw!important;
    .modal-content {
        .modal-header {
            background-color: #e2f0d9;
            border-bottom: 1px solid #41719c;
            padding:7px 20px;
            height: 45px;
            .title-login{
                font-size: 18px;
                text-align: center;
            }
            button {
                border: 1px solid #41719c;
                background-color: #fbe5d6;
            }
        }
        .modal-body {
            .login {
                .form-group {
                    display: flex;
                    label {
                        text-align: left;
                        padding: 9px 0;
                        width: 25%;
                        font-size: 15px;
                    }
                    input {
                        border-radius: 0;
                        width: 75%;
                        font-size: 17px;
                    }
                }
                .btn-login {
                    text-align: left;
                    .login {
                        border: 1px solid #41719c;
                        background-color: #deebf7;
                        padding: 3px 20px;
                    }
                    .close-login {
                        margin-left: 10px;
                        border: 1px solid #41719c;
                        background-color: #fff2cc;
                        padding: 3px 20px;
                    }
                }
            }
        }
    }
}
