#myModalRegister {
    .radio-group {
        justify-content: flex-start;
        align-items: center;
        width: 75%;
        display: flex;
        label {
            min-width: 60px;
            color: #696969;
            text-align: left;
            width: auto;
            input {
                width: auto;
                margin: 0 10px;
            }
        }

    }
}