<template>
    <h2>Welcome</h2>
</template>
<script>
    import Layout from "../../layout/Layout";

    export default {
        name: 'Admin',
        created() {
            this.$emit('update:layout', Layout);
        },
    }
</script>
