<template>
    <div class="wrapper-content">
        <div class="title-release">
            <h4>発売号一覧管理</h4>
        </div>
        <div class="form-add">
            <form @submit.prevent="addRelease">
                <div class="form-group">
                    <label>発売号名</label>
                    <datepicker :format="dateFormat"
                                v-if="renderComponent"
                                v-model="releaseNumber.name"
                    >
                    </datepicker>
                </div>
                <div class="form-group">
                    <label>発売号画像</label>
                    <vue-dropzone :options="config"
                                  :useCustomSlot=true
                                  @vdropzone-file-added="vfileAdded"
                                  @vdropzone-max-files-exceeded="vmaxFile"
                                  @vdropzone-removed-file="removeImage"
                                  @vdropzone-success="vsuccess"
                                  id="dropzone"
                                  ref="myVueDropzone"
                    >
                        <div class="dropzone-custom-content">
                            <img src="/storage/media//upload.png">
                            <h5 class="dropzone-custom-title">ここに画像ドラッグ</h5>
                        </div>
                    </vue-dropzone>
                </div>
                <div class="form-group">
                    <label>形容</label>
                    <textarea class="form-control" placeholder="形容の入力" rows="3"
                              v-model="releaseNumber.description"></textarea>
                </div>
                <div class="btn-group">
                    <button class="btn-submit" type="submit">保存</button>
                    <router-link :to="{ name: 'admin.release_number'}">
                        <button class="btn-reset" type="button">キャンセル</button>
                    </router-link>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    import Vue from "vue"
    import Layout from "../../layout/Layout";
    import vueDropzone from "vue2-dropzone";
    import Datepicker from 'vuejs-datepicker';
    import moment from 'moment';
    import 'vue2-dropzone/dist/vue2Dropzone.min.css';

    Vue.use(require('vue-moment'));

    export default {
        components: {
            vueDropzone,
            Datepicker,
        },
        data() {
            return {
                releaseNumber: {
                    name: '',
                    image_id: '',
                    description: '',
                },
                errors: {
                    name: '',
                    image_id: '',
                    description: '',
                    acceptedFile: '',
                    maxFile: '',
                },
                config: {
                    url: 'http://adminsite.local/api/image',
                    maxFilesize: 10,
                    maxFiles: 1,
                    thumbnailWidth: 450,
                    addRemoveLinks: true,
                    acceptedFiles: '.jpg,.jpeg,.png',
                },
                dateFormat: 'yyyy年MM月dd日号',
                date: '',
                renderComponent: true,
                created: false,
                friday: 5,
                checkRenderDropzone: true,
            }
        },
        created() {
            this.$emit('update:layout', Layout);
            this.releaseNumber.name = this.getNextDayOfWeek(this.friday);
        },
        watch: {
            'releaseNumber.name': 'selectDate'
        },
        methods: {
            getNextDayOfWeek(dayNeed) {
                var today = moment().isoWeekday();
                if (today <= dayNeed) {
                    return moment().isoWeekday(dayNeed).format("YYYY-MM-DD HH:mm:ss");
                } else {
                    return moment().add(1, 'weeks').isoWeekday(dayNeed).format("YYYY-MM-DD HH:mm:ss");
                }
            },

            selectDate() {
                var type = typeof (this.releaseNumber.name);
                if (type === 'object') {
                    var state = '';
                    var dayCheck = moment(this.releaseNumber.name).isoWeekday();
                    if (dayCheck <= this.friday) {
                        state = moment(this.releaseNumber.name).isoWeekday(this.friday).format("YYYY-MM-DD HH:mm:ss");
                    } else {
                        state = moment(this.releaseNumber.name).add(1, 'weeks').isoWeekday(this.friday).format("YYYY-MM-DD HH:mm:ss");
                    }
                    this.releaseNumber.name = state;
                }
            },

            vfileAdded(file) {
                this.errors = [];
                let size = file.size / 1048576;
                let checkImage = this.config.acceptedFiles.search(file.type.replace('image/', '.'));

                if (size > this.config.maxFilesize) {
                    let error = '発売号画像は「png」「jpg」のみ有効です。';
                    this.errors.push(error);
                    this.$refs.myVueDropzone.removeFile(file)
                }
                if (checkImage === 0 || checkImage === -1) {
                    let error = '発売号画像は「png」「jpg」のみ有効です。';
                    this.errors.push(error);
                    this.$refs.myVueDropzone.removeFile(file)
                }
                if (this.errors.length) {
                    this.alertErrModal();
                }
            },

            vmaxFile(file) {
                this.$refs.myVueDropzone.removeFile(file);
            },

            vsuccess(file, response) {
                this.releaseNumber.image_id = response.data;
            },

            addRelease() {
                var app = this;
                app.releaseNumber.name = moment(app.releaseNumber.name).format('YYYY年MM月DD号');
                var release = app.releaseNumber;
                this.axios.post('/release-number', release)
                    .then(function (response) {
                        if (response) {
                            app.checkRenderDropzone = false;
                            swal('Good job!', 'success fully!', 'success');
                            app.resetFormAdd();
                        } else {
                            app.checkRenderDropzone = false;
                        }
                    })
                    .catch(error => {
                        app.errors = [];
                        if (error.response.data.errors.image_id) {
                            app.errors.push(error.response.data.errors.image_id.toString())
                        }
                        if (error.response.data.errors.description) {
                            app.errors.push(error.response.data.errors.description.toString())
                        }
                        this.alertErrModal();
                    })
            },

            resetFormAdd() {
                this.releaseNumber.image_id = '';
                this.releaseNumber.description = '';
                this.$refs.myVueDropzone.dropzone.getAcceptedFiles().forEach((file) => {
                    this.$refs.myVueDropzone.removeFile(file);
                });
            },

            removeImage(file) {
                if (file.status === 'success' && this.checkRenderDropzone) {
                    var app = this;
                    let id = app.releaseNumber.image_id;
                    this.axios.delete('image/' + id)
                        .then(function (response) {
                            if (response.data.error.status) {
                                console.log(response.data.error.message);
                            } else {
                                app.releaseNumber.image_id = '';
                            }
                        })
                        .catch(err => {
                            console.log(err.errors);
                        })
                }
            },

            alertErrModal() {
                if (this.errors.length) {
                    var error = '\n';
                    this.errors.forEach(value => {
                        error += value + '\n';
                    });
                    swal('Error!', error, 'error')
                }
            },
        }
    }
</script>
