<template>
    <div class="wrapper-content">
        <div class="title-release">
            <h4>発売号変更</h4>
        </div>
        <div class="form-add">
            <form @submit.prevent="editRelease">
                <div class="form-group">
                    <label>発売号名</label>
                    <datepicker :format="dateFormat"
                                v-if="renderComponent"
                                v-model="releaseNumber.name"
                    >
                    </datepicker>
                </div>
                <div class="form-group">
                    <label>発売号画像</label>
                    <div class="form-image">
                        <div class="show-image">
                            <img :src="releaseNumber.image" alt="">
                        </div>
                        <div class="edit-image">
                            <vue-dropzone :options="config"
                                          :useCustomSlot=true
                                          @vdropzone-file-added="vfileAdded"
                                          @vdropzone-max-files-exceeded="vmaxFile"
                                          @vdropzone-removed-file="removeImage"
                                          @vdropzone-success="vsuccess"
                                          id="dropzone"
                                          ref="myVueDropzone"
                            >
                                <div class="dropzone-custom-content">
                                    <img src="/storage/media//upload.png">
                                    <h5 class="dropzone-custom-title">ここに画像ドラッグ</h5>
                                </div>
                            </vue-dropzone>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>形容</label>
                    <textarea class="form-control" placeholder="この発売号は天然内容です。" rows="3"
                              v-model="releaseNumber.description"></textarea>
                </div>
                <div class="btn-group">
                    <button class="btn-submit" type="submit">保存</button>
                    <router-link :to="{ name: 'admin.release_number'}">
                        <button class="btn-reset" type="button">キャンセル</button>
                    </router-link>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    import Vue from "vue"
    import Layout from "../../layout/Layout";
    import vueDropzone from "vue2-dropzone";
    import Datepicker from 'vuejs-datepicker';
    import moment from 'moment';
    import 'vue2-dropzone/dist/vue2Dropzone.min.css';

    Vue.use(require('vue-moment'));

    export default {
        components: {
            vueDropzone,
            Datepicker,
        },
        data() {
            return {
                releaseNumber: {
                    id: '',
                    name: '',
                    image_id: '',
                    description: '',
                    image: '',
                },
                errors: {
                    name: '',
                    image_id: '',
                    description: '',
                    acceptedFile: '',
                    maxFile: '',
                },
                config: {
                    url: 'http://adminsite.local/api/image',
                    maxFilesize: 10,
                    maxFiles: 1,
                    thumbnailWidth: 250,
                    thumbnailHeight: 100,
                    addRemoveLinks: true,
                    acceptedFiles: 'image/jpg,image/png',
                },
                dateFormat: 'yyyy年MM月dd日号',
                date: '',
                renderComponent: true,
                created: false,
                friday: 5,
                new_image_id: '',
                checkRenderDropzone: true,
            }
        },
        created() {
            this.$emit('update:layout', Layout);
            var id = this.releaseNumber.id;
            id = this.$route.params.id;
            this.getData(id);
        },
        watch: {
            'releaseNumber.name': 'selectDate'
        },
        methods: {
            getData(id) {
                let app = this;
                this.axios.get('release-number/' + id)
                    .then(function (response) {
                        app.releaseNumber = response.data.data;
                        var date = app.releaseNumber.name.substr(0, 4) + '-' + app.releaseNumber.name.substr(5, 2) + '-'
                            + app.releaseNumber.name.substr(8, 2);
                        app.releaseNumber.name = date;
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            selectDate() {
                var type = typeof (this.releaseNumber.name);
                if (type === 'object') {
                    var state = '';
                    var dayCheck = moment(this.releaseNumber.name).isoWeekday();
                    if (dayCheck <= this.friday) {
                        state = moment(this.releaseNumber.name).isoWeekday(this.friday).format("YYYY-MM-DD HH:mm:ss");
                    } else {
                        state = moment(this.releaseNumber.name).add(1, 'weeks').isoWeekday(this.friday).format("YYYY-MM-DD HH:mm:ss");
                    }
                    this.releaseNumber.name = state;
                }
            },

            vfileAdded(file) {
                this.errors = [];
                let size = file.size / 1048576;
                let checkImage = this.config.acceptedFiles.search(file.type);

                if (size > this.config.maxFilesize) {
                    let error = '発売号画像は「png」「jpg」のみ有効です。';
                    this.errors.push(error);
                    this.$refs.myVueDropzone.removeFile(file)
                }
                if (checkImage === 0 || checkImage === -1) {
                    let error = '発売号画像は「png」「jpg」のみ有効です。';
                    this.errors.push(error);
                    this.$refs.myVueDropzone.removeFile(file)
                }
                if (this.errors.length) {
                    this.alertErrModal();
                }
            },

            vmaxFile(file) {
                this.$refs.myVueDropzone.removeFile(file);
            },

            vsuccess(file, response) {
                this.new_image_id = response.data;
            },

            editRelease() {
                var app = this;
                app.releaseNumber.name = moment(app.releaseNumber.name).format('YYYY年MM月DD号');
                var id = app.releaseNumber.id;
                var newRelease = app.releaseNumber;
                if (app.new_image_id !== newRelease.image_id) {
                    newRelease.image_id = app.new_image_id;
                }
                this.axios.put('/release-number/' + id, newRelease)
                    .then(function (response) {
                        if (response) {
                            app.checkRenderDropzone = false;
                            swal('Good job!', 'success fully!', 'success');
                            app.$router.push({path: '/admin/release-number'});
                        } else {
                            app.checkRenderDropzone = false;
                        }
                    })
                    .catch(error => {
                        app.errors = [];
                        if (error.response.data.errors.image_id) {
                            app.errors.push(error.response.data.errors.image_id.toString())
                        }
                        if (error.response.data.errors.description) {
                            app.errors.push(error.response.data.errors.description.toString())
                        }
                        this.alertErrModal();
                    })
            },
            removeImage(file) {
                if (file.status === 'success' && this.checkRenderDropzone) {
                    var app = this;
                    let id = app.new_image_id;
                    this.axios.delete('image/' + id)
                        .then(function (response) {
                            if (response.data.error.status) {
                                console.log(response.data.error.message);
                            } else {
                                this.new_image_id = this.releaseNumber.image_id;
                            }
                        })
                        .catch(err => {
                            console.log(err.errors);
                        })
                }
            },

            alertErrModal() {
                if (this.errors.length) {
                    var error = '\n';
                    this.errors.forEach(value => {
                        error += value + '\n';
                    });
                    swal('Error!', error, 'error')
                }
            },
        }
    }
</script>
