<template>
    <div class="wrapper-content">
        <div class="title-release">
            <h4>発売号一覧管理</h4>
        </div>
        <router-link :to="{ name: 'admin.release_number.add'}">
            <button class="btn btn-primary btn-register" type="button">新規登録</button>
        </router-link>
        <table class="table table-bordered table-hover">
            <tbody>
            <tr :key="release.id" class="row-table" v-for="(release, index) in releases">
                <td class="reles-id align-middle" v-if="page == 1">{{ per_page*(currentPage - 1) + (index +1) }}</td>
                <td class="reles-name align-middle">{{ release.name }}</td>
                <td class="reles-img align-middle">
                    <img :src="release.image" alt="{{}}">
                </td>
                <td class="reles-action align-middle">
                    <div class="btn-action">
                        <button @click="showConfirm(release.id)" class="btn-delete" type="button">削除</button>
                    </div>
                    <div class="btn-action">
                        <router-link :to="{ name: 'admin.release_number.edit', params: {id: release.id}} ">
                            <button class="btn-edit" type="button">削除</button>
                        </router-link>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="page">
            <b-pagination
                    :per-page="per_page"
                    :total-rows="rows"
                    aria-controls="my-table"
                    hide-goto-end-buttons
                    next-text="次"
                    prev-text="前"
                    v-model="currentPage"
            ></b-pagination>
        </div>
        <div class="modal" id="modalDel">
            <div class="modal-dialog modal-delete">
                <div class="modal-content">
                    <div class="title-del">
                        <h6 class="modal-title">発売号の削除</h6>
                    </div>
                    <div class="modal-body">
                        <span>この発売号を削除してよろしいですか。</span>
                    </div>
                    <div class="modal-btn">
                        <button @click="deleteRelease(id)" class="btn-del" >はい</button>
                        <button @click="closeConfirm()" class="btn-cancel">いいえ</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import Layout from "../../layout/Layout";

    export default {
        data() {
            return {
                releases: [''],
                per_page: 2,
                currentPage: 1,
                rows: 0,
                id: '',
                page: 1,
            }
        },
        created() {
            this.$emit('update:layout', Layout);
            this.fetchReleases();
        },
        watch: {
            'currentPage': 'fetchReleases'
        },
        methods: {
            fetchReleases: function () {
                let url = 'http://adminsite.local/api/release-number?page=' + this.currentPage;
                this.axios.get(url).then(response => {
                    this.releases = response.data.data;
                    this.rows = response.data.pagination.total;
                    this.per_page = response.data.pagination.per_page;
                })
            },
            showConfirm: function (id) {
                $('#modalDel').show();
                this.id = id;
            },
            closeConfirm: function () {
                $('#modalDel').hide();
            },
            deleteRelease: function (id) {
                let app = this;
                this.axios.delete('/release-number/' + id)
                    .then(function (res) {
                        app.fetchReleases();
                        app.closeConfirm();
                    })
                    .catch(err => {
                        console.log(err)
                    })
            }
        }
    }
</script>
