<template>
    <div class="wrapper-content">
        <div class="title-add-post">
            <h4>新規記事登録</h4>
        </div>
        <div class="form-add-post">
            <form @submit.prevent="addPost">
                <div class="form">
                    <div class="form-input">
                        <div class="form-group">
                            <label>タイトル</label>
                            <input class="form-control" name="" type="text" v-model="posts.title">
                        </div>
                        <div class="form-group">
                            <label>公開日</label>
                            <datepicker :format="dateFormat"
                                        v-if="renderComponent"
                                        v-model="posts.public_date"
                            >
                            </datepicker>
                        </div>
                        <div class="form-group">
                            <vue-ckeditor :config="configCkeditor" v-model="posts.content"/>
                        </div>
                    </div>
                    <div class="form-select-image">
                        <div class="form-group">
                            <label>親カテゴリ</label>
                            <select @change="changeParent($event)" class="form-control" name="">
                                <option :value="''">親カテゴリー選択</option>
                                <option :value="categoryParent.id" v-for="categoryParent in categoryParents">
                                    {{ categoryParent.name }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>子カテゴリ</label>
                            <select class="form-control" name="" v-model="posts.categories_id">
                                <option :value="''">子カテゴリー選択</option>
                                <option :value="categoryChild.id" v-for="categoryChild in categoryChilds">
                                    {{ categoryChild.name }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>ステタース</label>
                            <select class="form-control"
                                    v-model="posts.status">
                                <option value="1">公開</option>
                                <option value="2">非公開</option>
                                <option value="3">下書き</option>
                            </select>

                        </div>
                        <div class="form-group">
                            <label>子カテゴリ</label>
                            <select class="form-control" name="" v-model="posts.release_number_id">
                                <option :value="''">子カテゴリー選択</option>
                                <option :value="releaseNumber.id" v-for="releaseNumber in releaseNumbers">
                                    {{ releaseNumber.name }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>サムネイル</label>
                            <vue-dropzone :options="config"
                                          :useCustomSlot=true
                                          @vdropzone-file-added="vfileAdded"
                                          @vdropzone-max-files-exceeded="vmaxFile"
                                          @vdropzone-removed-file="removeImage"
                                          @vdropzone-success="vsuccess"
                                          id="dropzone"
                                          ref="myVueDropzone"
                            >
                                <div class="dropzone-custom-content">
                                    <img src="/storage/media//upload.png">
                                    <h5 class="dropzone-custom-title">ここに画像ドラッグ</h5>
                                </div>
                            </vue-dropzone>
                        </div>
                    </div>
                </div>
                <div class="btn-group">
                    <button class="btn-submit" type="submit">保存</button>
                    <router-link :to="{ name: 'admin.posts'}">
                        <button class="btn-reset" type="button">キャンセル</button>
                    </router-link>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    import Vue from "vue"
    import Layout from "../../layout/Layout";
    import vueDropzone from "vue2-dropzone";
    import Datepicker from 'vuejs-datepicker';
    import moment from 'moment';
    import 'vue2-dropzone/dist/vue2Dropzone.min.css';
    import VueCkeditor from 'vue-ckeditor2';

    Vue.use(require('vue-moment'));

    export default {
        components: {
            vueDropzone,
            Datepicker,
            VueCkeditor,
        },
        created() {
            this.$emit('update:layout', Layout);
            this.showCateParent();
            this.showReleaseNumber();
            this.getUser();
            this.posts.public_date = moment().format('YYYY-MM-DD');
        },
        data() {
            return {
                user_id: '',
                releaseNumber: {
                    id: '',
                    name: '',
                },
                releaseNumbers: [],
                posts: {
                    id: '',
                    categories_id: '',
                    release_number_id: '',
                    image_id: '',
                    user_id: '',
                    title: '',
                    public_date: '',
                    content: '',
                    status: '1',
                    description: ''
                },
                errors: {
                    categories_id: '',
                    content: '',
                    title: '',
                    acceptedFile: '',
                    maxFile: '',
                },
                categoryChilds: [],
                categoryParents: [],
                content: '',
                configCkeditor: {
                    toolbarGroups: [
                        {name: 'document', groups: ['mode', 'document', 'doctools']},
                        {name: 'clipboard', groups: ['clipboard', 'undo']},
                        {name: 'editing', groups: ['find', 'selection', 'spellchecker', 'editing']},
                        {name: 'forms', groups: ['forms']},
                        {name: 'basicstyles', groups: ['basicstyles', 'cleanup']},
                        {name: 'paragraph', groups: ['list', 'indent', 'blocks', 'align', 'bidi', 'paragraph']},
                        {name: 'links', groups: ['links']},
                        {name: 'insert', groups: ['insert']},
                        {name: 'styles', groups: ['styles']},
                        {name: 'colors', groups: ['colors']},
                        {name: 'tools', groups: ['tools']},
                        {name: 'others', groups: ['others']},
                        {name: 'about', groups: ['about']}
                    ],
                    height: 200,

                },
                config: {
                    url: 'http://adminsite.local/api/image',
                    maxFilesize: 10,
                    maxFiles: 1,
                    thumbnailWidth: 450,
                    thumbnailHeight: 150,
                    addRemoveLinks: true,
                    acceptedFiles: '.jpg,.jpeg,.png',
                },
                checkRenderDropzone: true,
                renderComponent: true,
                dateFormat: 'yyyy年MM月dd日号',
            }
        },
        methods: {
            showCateParent() {
                var app = this;
                this.axios.get('/category-parent')
                    .then(function (response) {
                        app.categoryParents = response.data.data
                    });
            },
            showCateChild(id) {
                var app = this;
                this.axios.get('/category-child/' + id)
                    .then(function (response) {
                        app.categoryChilds = response.data.data;
                        console.log(app.categoryChilds)
                    });
            },
            changeParent(event) {
                this.showCateChild(event.target.value);
            },
            showReleaseNumber() {
                var app = this;
                this.axios.get('/release-post')
                    .then(function (response) {
                        app.releaseNumbers = response.data.data
                    })
            },
            getUser() {
                var app = this;
                this.axios.get('/auth/user')
                    .then(function (response) {
                        app.user_id = response.data.id
                    })
            },
            addPost() {
                var app = this;
                app.posts.user_id = app.user_id;
                app.posts.public_date = moment(app.posts.public_date).format('YYYY-MM-DD');
                var posts = app.posts;
                this.axios.post('/post', posts)
                    .then(function (response) {
                        if (response) {
                            app.checkRenderDropzone = false;
                            swal('Good job!', 'success fully!', 'success');
                            app.resetFormAdd();
                        } else {
                            app.checkRenderDropzone = false;
                            app.errors = [];
                            if (response.data.error.message) {
                                app.errors.push(response.data.error.message);
                                app.alertErrModal();
                            }
                        }
                    })
                    .catch(error => {
                        app.errors = [];
                        console.log(error.response);
                        if (error.response.data.errors.categories_id) {
                            app.errors.push(error.response.data.errors.categories_id.toString())
                        }
                        if (error.response.data.errors.content) {
                            app.errors.push(error.response.data.errors.content.toString())
                        }
                        if (error.response.data.errors.title) {
                            app.errors.push(error.response.data.errors.title.toString())
                        }
                        this.alertErrModal();
                    })
            },
            resetFormAdd() {
                this.posts.categories_id = '';
                this.posts.release_number_id = '';
                this.posts.image_id = '';
                this.posts.user_id = '';
                this.posts.title = '';
                this.posts.public_date = '';
                this.posts.content = '';
                this.$refs.myVueDropzone.dropzone.getAcceptedFiles().forEach((file) => {
                    this.$refs.myVueDropzone.removeFile(file);
                });
            },
            vfileAdded(file) {
                this.errors = [];
                let size = file.size / 1048576;
                let checkImage = this.config.acceptedFiles.search(file.type.replace('image/', '.'));
                if (size > this.config.maxFilesize) {
                    let error = '発売号画像は「png」「jpg」のみ有効です。';
                    this.errors.push(error);
                    this.$refs.myVueDropzone.removeFile(file)
                }
                if (checkImage === 0 || checkImage === -1) {
                    let error = '発売号画像は「png」「jpg」のみ有効です。';
                    this.errors.push(error);

                    this.$refs.myVueDropzone.removeFile(file)
                }
                if (this.errors.length) {
                    this.alertErrModal();
                }
            },
            vmaxFile(file) {
                this.$refs.myVueDropzone.removeFile(file);
            },
            removeImage(file) {
                if (file.status === 'success' && this.checkRenderDropzone) {
                    var app = this;
                    let id = app.posts.image_id;
                    this.axios.delete('image/' + id)
                        .then(function (response) {
                            if (response.data.error.status) {
                                console.log(response.data.error.message);
                            } else {
                                app.posts.image_id = '';
                            }
                        })
                        .catch(err => {
                            console.log(err.errors);
                        })
                }
            },
            vsuccess(file, response) {
                this.posts.image_id = response.data;
            },
            alertErrModal() {
                if (this.errors.length) {
                    var error = '\n';
                    this.errors.forEach(value => {
                        error += value + '\n';
                    });
                    swal('Error!', error, 'error')
                }
            },
        }
    }
</script>
