<template>
    <div class="wrapper-content">
        <div class="title-add-post">
            <h4>新規記事登録</h4>
        </div>
        <div class="form-add-post">
            <form @submit.prevent="editPost">
                <div class="form">
                    <div class="form-input">
                        <div class="form-group">
                            <label>タイトル</label>
                            <input class="form-control" name="" type="text" v-model="posts.title">
                        </div>
                        <div class="form-group">
                            <label>公開日</label>
                            <datepicker :format="dateFormat"
                                        v-if="renderComponent"
                                        v-model="posts.public_date"
                            >
                            </datepicker>
                        </div>
                        <div class="form-group">
                            <vue-ckeditor :config="configCkeditor" v-model="posts.content"/>
                        </div>
                    </div>
                    <div class="form-select-image">
                        <div class="form-group">
                            <label>親カテゴリ</label>
                            <select @change="changeParent($event)"
                                    class="form-control" name=""
                                    v-model="posts.category_parent_id">
                                <option :value="categoryParent.id" v-for="categoryParent in categoryParents">
                                    {{ categoryParent.name }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>子カテゴリ</label>
                            <select class="form-control" name="" v-model="posts.categories_id">
                                <option :value="categoryChild.id" v-for="categoryChild in categoryChilds">
                                    {{ categoryChild.name }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>ステタース</label>
                            <select class="form-control"
                                    v-model="posts.status">
                                <option value="1">公開</option>
                                <option value="2">非公開</option>
                                <option value="3">下書き</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>子カテゴリ</label>
                            <select class="form-control" name="" v-model="posts.release_number_id">
                                <option :value="releaseNumber.id" v-for="releaseNumber in releaseNumbers">
                                    {{ releaseNumber.name }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>サムネイル</label>
                            <vue-dropzone :options="config"
                                          :useCustomSlot=true
                                          @vdropzone-file-added="vfileAdded"
                                          @vdropzone-max-files-exceeded="vmaxFile"
                                          @vdropzone-removed-file="removeImage"
                                          @vdropzone-success="vsuccess"
                                          id="dropzone"
                                          ref="myVueDropzone"
                            >
                                <div class="dropzone-custom-content">
                                    <img :src="posts.thumbnail">
                                </div>
                            </vue-dropzone>
                        </div>
                    </div>
                </div>
                <div class="btn-group">
                    <button class="btn-submit" type="submit">保存</button>
                    <router-link :to="{ name: 'admin.posts'}">
                        <button class="btn-reset" type="button">キャンセル</button>
                    </router-link>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    import Vue from "vue"
    import Layout from "../../layout/Layout";
    import vueDropzone from "vue2-dropzone";
    import Datepicker from 'vuejs-datepicker';
    import moment from 'moment';
    import 'vue2-dropzone/dist/vue2Dropzone.min.css';
    import VueCkeditor from 'vue-ckeditor2';

    Vue.use(require('vue-moment'));

    export default {
        components: {
            vueDropzone,
            Datepicker,
            VueCkeditor,
        },
        data() {
            return {
                user_id: '',
                releaseNumber: {
                    id: '',
                    name: '',
                },
                releaseNumbers: [],
                categoryChilds: [],
                categoryParents: [],
                posts: {
                    id: '',
                    categories_id: '',
                    category_parent_id: '',
                    release_number_id: '',
                    image_id: '',
                    thumbnail: '',
                    user_id: '',
                    title: '',
                    public_date: '',
                    content: '',
                    status: '1',
                    description: ''
                },
                new_image_id: '',
                errors: {
                    public_date: '',
                    categories_id: '',
                    content: '',
                    title: '',
                    acceptedFile: '',
                    maxFile: '',
                },
                configCkeditor: {
                    toolbarGroups: [
                        {name: 'document', groups: ['mode', 'document', 'doctools']},
                        {name: 'clipboard', groups: ['clipboard', 'undo']},
                        {name: 'editing', groups: ['find', 'selection', 'spellchecker', 'editing']},
                        {name: 'forms', groups: ['forms']},
                        {name: 'basicstyles', groups: ['basicstyles', 'cleanup']},
                        {name: 'paragraph', groups: ['list', 'indent', 'blocks', 'align', 'bidi', 'paragraph']},
                        {name: 'links', groups: ['links']},
                        {name: 'insert', groups: ['insert']},
                        {name: 'styles', groups: ['styles']},
                        {name: 'colors', groups: ['colors']},
                        {name: 'tools', groups: ['tools']},
                        {name: 'others', groups: ['others']},
                        {name: 'about', groups: ['about']}
                    ],
                    height: 200,
                },
                config: {
                    url: 'http://adminsite.local/api/image',
                    maxFilesize: 10,
                    maxFiles: 1,
                    thumbnailWidth: 200,
                    thumbnailHeight: 200,
                    addRemoveLinks: true,
                    acceptedFiles: 'image/jpg,image/png',
                },
                checkRenderDropzone: true,
                renderComponent: true,
                dateFormat: 'yyyy年MM月dd日',
            }
        },
        created() {
            this.$emit('update:layout', Layout);
            this.showReleaseNumber();
            this.getUser();
            this.posts.public_date = moment().format('YYYY-MM-DD');
            this.getDataPost();
        },
        methods: {
            getData(id) {
                var app = this;
                return this.axios.get('post/' + id)
                    .then(function (response) {
                        app.posts.id = response.data.data.id;
                        app.posts.categories_id = response.data.data.categories_id;
                        app.posts.release_number_id = response.data.data.release_number_id;
                        app.posts.image_id = response.data.data.image_id;
                        app.posts.user_id = response.data.data.user_id;
                        app.posts.title = response.data.data.title;
                        app.posts.public_date = response.data.data.public_date;
                        app.posts.content = response.data.data.content;
                        app.posts.status = response.data.data.status;
                        app.posts.description = response.data.data.description;
                        app.posts.thumbnail = response.data.data.image ? response.data.data.image.url : null;
                        app.posts.category_parent_id = response.data.data.category.parent.id;
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            editPost() {
                var app = this;
                app.posts.public_date = moment(app.posts.public_date).format('YYYY/MM/DD');
                var id = app.posts.id;
                var newPost = app.posts;
                if (app.new_image_id !== newPost.image_id) {
                    newPost.image_id = app.new_image_id;
                }
                this.axios.put('/post/' + id, newPost)
                    .then(function (response) {
                        if(response) {
                            app.checkRenderDropzone = false;
                            swal('Good job!', 'success fully!', 'success');
                            app.$router.push({path: '/admin/post'});
                        } else {
                            app.checkRenderDropzone = false;
                        }
                    })
                    .catch(error => {
                        app.errors = [];
                        console.log(error.response.data.errors.title.toString());
                        if(error.response.data.errors.title) {
                            app.errors.push(error.response.data.errors.title.toString());
                        }
                        if(error.response.data.errors.content) {
                            app.errors.push(error.response.data.errors.content.toString());
                        }
                        if(error.response.data.errors.public_date) {
                            app.errors.push(error.response.data.errors.public_date.toString());
                        }
                        if(error.response.data.errors.categories_id) {
                            app.errors.push(error.response.data.errors.categories_id.toString());
                        }
                        this.alertErrModal();
                    })
            },
            showCateParent() {
                var app = this;
                return this.axios.get('/category-parent')
                    .then(function (response) {
                        app.categoryParents = response.data.data;
                    });
            },
            showCateChild(id) {
                var app = this
                return this.axios.get('/category-child/' + id)
                    .then(function (response) {
                        app.categoryChilds = response.data.data;
                        if(app.categoryChilds.length) {
                            app.posts.categories_id = app.categoryChilds[0].id;
                        }
                    });
            },
            async getDataPost() {
                await this.getData(this.$route.params.id);
                await this.showCateParent();
                await this.showCateChild(this.posts.category_parent_id);
            },
            changeParent(event) {
                this.showCateChild(event.target.value);
            },
            showReleaseNumber() {
                var app = this;
                this.axios.get('/release-post')
                    .then(function (response) {
                        app.releaseNumbers = response.data.data
                    })
            },
            getUser() {
                var app = this;
                this.axios.get('/auth/user')
                    .then(function (response) {
                        app.user_id = response.data.id
                    })
            },
            vfileAdded(file) {
                this.errors = [];
                let size = file.size / 1048576;
                let checkImage = this.config.acceptedFiles.search(file.type);

                if (size > this.config.maxFilesize) {
                    let error = '発売号画像は「png」「jpg」のみ有効です。';
                    this.errors.push(error);
                    this.$refs.myVueDropzone.removeFile(file)
                }
                if (checkImage === 0 || checkImage === -1) {
                    let error = '発売号画像は「png」「jpg」のみ有効です。';
                    this.errors.push(error);

                    this.$refs.myVueDropzone.removeFile(file)
                }
                if (this.errors.length) {
                    this.alertErrModal();
                }
            },
            vmaxFile(file) {
                this.$refs.myVueDropzone.removeFile(file);
            },
            removeImage(file) {
                if (file.status === 'success' && this.checkRenderDropzone) {
                    var app = this;
                    let id = app.new_image_id;
                    this.axios.delete('image/' + id)
                        .then(function (response) {
                            if (response.data.error.status) {
                                console.log(response.data.error.message);
                            } else {
                                this.new_image_id = this.posts.image_id;
                            }
                        })
                        .catch(err => {
                            console.log(err);
                        })
                }
            },
            vsuccess(file, response) {
                this.posts.image_id = response.data;
                this.new_image_id = response.data;
            },
            alertErrModal() {
                if (this.errors.length) {
                    var error = '\n';
                    this.errors.forEach(value => {
                        error += value + '\n';
                    });
                    swal('Error!', error, 'error')
                }
            },
        }
    }
</script>
