<template>
    <div class="wrapper-content">
        <div class="title-post">
            <h4>記事一覧</h4>
        </div>
        <router-link :to="{ name: 'admin.posts.add'}">
            <button class="btn btn-primary btn-register" type="button">新規記事追加</button>
        </router-link>
        <div class="form-select">
            <form method="get" action="">
                <div class="form-action box-main">
                    <div class="box-select">
                        <div class="box">
                            <div class="input-box">
                                <label>発売号</label>
                                <select name="" class="input-value">
                                    <option>すべて</option>
                                </select>
                            </div>
                            <div class="input-box">
                                <label>ステタース</label>
                                <select name="" class="input-value">
                                    <option>すべて</option>
                                </select>
                            </div>
                        </div>
                        <div class="box">
                            <div class="input-box">
                                <label>親カテゴリ</label>
                                <select name="" class="input-value">
                                    <option>すべて</option>
                                </select>
                            </div>
                            <div class="input-box">
                                <label>キワード</label>
                                <input type="text" name="" placeholder="結果内容の入力" class="input-value">
                            </div>
                        </div>
                        <div class="box">
                            <div class="input-box">
                                <label >子カテゴリ</label>
                                <select name="" class="input-value">
                                    <option>すべて</option>
                                </select>
                            </div>
                            <div class="input-box btn-search">
                                <button type="submit" class="btn">検索</button>
                            </div>
                        </div>
                    </div>
                    <div class="show-paginate">
                        <span>{{per_page*(current_page - 1) + (0 + 1)}}-{{per_page*(current_page - 1)
                            + (posts.length)}}件 / {{rows}}件</span>
                    </div>
                </div>
            </form>
        </div>
        <table class="table table-alight">
            <thead class="thead-light">
            <tr>
                <th rowspan="2" class="id-table">#</th>
                <th colspan="14">タイトル</th>
                <th colspan="5">発売号</th>
                <th colspan="10">カテゴ</th>
                <th rowspan="2" class="action">変更。削除</th>
            </tr>
            <tr>
                <th colspan="5">ステタース</th>
                <th colspan="5">作成者</th>
                <th colspan="5">更新日</th>
                <th colspan="5">公開日</th>
                <th colspan="9">記事内容</th>
            </tr>
            </thead>
            <tbody v-for="(post, index) in posts">
                <tr>
                    <td rowspan="2" v-if="page == 1">{{ per_page*(current_page - 1) + (index +1) }}</td>
                    <td colspan="14">{{ post.title }}</td>
                    <td colspan="5">{{ post.release_name }}</td>
                    <td colspan="10"> {{post.category_parent_name}} - {{post.category_child_name}}</td>
                    <td rowspan="2">
                        <router-link :to="{ name: 'admin.post.edit', params: {id: post.id}} ">
                            <button type="submit"  class="btn-edit">変更</button>
                        </router-link>
                        <button type="submit" @click="showConfirm(post.id)" class="btn-delete">削除</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">{{ post.status }}</td>
                    <td colspan="5">{{ post.user}}</td>
                    <td colspan="5">{{ post.date_update | moment("YYYY年MM月DD日") }}</td>
                    <td colspan="5">{{ post.public_date | moment("YYYY年MM月DD日") }}</td>
                    <td colspan="9">
                        <button @click="showContentPost(post, index+1)" class="show-content-post">変更</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="page">
            <b-pagination
                    :per-page="per_page"
                    :total-rows="rows"
                    aria-controls="my-table"
                    hide-goto-end-buttons
                    next-text="次"
                    prev-text="前"
                    v-model="current_page"
            ></b-pagination>
        </div>
        <div class="modal" id="modal" v-show="contentPostVisible" >
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                <div class="modal-content post-content">
                    <div class="modal-header">
                        <h5 class="modal-title">#{{indexModal}}：{{ postModal.title }}</h5>
                        <button type="button" @click="closeContentPost" class="btn-close">
                            <span>閉じる</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p v-html="postModal.content">
                        </p>
                    </div>
                    <div class="infor-post">
                        <p class="info">
                            <span class="name-user">作成者：{{ postModal.user }}</span>
                            <span class="mark">|</span>
                            <span class="release-date">作成日：</span>{{ postModal.date_create | moment("YYYY年MM月DD日") }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modalDel">
            <div class="modal-dialog modal-delete">
                <div class="modal-content">
                    <div class="title-del">
                        <h6 class="modal-title">記事の削除</h6>
                    </div>
                    <div class="modal-body">
                        <span>この記事を削除してよろしいですか。</span>
                    </div>
                    <div class="modal-btn">
                        <button @click="deletePost(id)" class="btn-del" >はい</button>
                        <button @click="closeConfirm()" class="btn-cancel">いいえ</button>
                    </div>

                </div>
            </div>
        </div>

    </div>
</template>
<script>
    import Layout from "../../layout/Layout";
    import Vue from 'vue';

    Vue.use(require('vue-moment'));
    export default {
        components: {
            Layout,
        },
        data() {
            return {
                contentPostVisible: false,
                posts: [''],
                page: 1,
                postModal: '',
                indexModal: '',
                id: '',
                current_page: 1,
                rows: 0,
                per_page: 3,
            }
        },
        created() {
            this.$emit('update:layout', Layout);
            this.showPost();
        },
        watch: {
            'current_page': 'showPost'
        },
        methods: {
            showContentPost: function (post, index) {
                $('#modal').show();
                this.postModal = post;
                this.indexModal = index;
            },
            closeContentPost: function () {
                $('#modal').hide();
            },
            showPost() {
                var app = this
                let url = 'http://adminsite.local/api/post?page=' + app.current_page;
                this.axios.get(url)
                    .then(function (response) {
                        app.posts = response.data.data.data;
                        app.rows = response.data.pagination.total;
                        app.per_page = response.data.pagination.per_page;
                    })
                    .catch(err => {
                        console.log(err);
                    })
            },
            showConfirm: function (id) {
                $('#modalDel').show();
                this.id = id;
            },
            closeConfirm: function () {
                $('#modalDel').hide();
            },
            deletePost: function (id) {
                var app = this;
                this.axios.delete('/post/' + id)
                    .then(function (res) {
                        app.showPost();
                        app.closeConfirm();
                    })
                    .catch(err =>{
                        console.log(err)
                    })
            }
        }
    }
</script>
