.footer {
    padding: 16px 0 10px 0;
    text-align: center;
    background-color: #7f7f7f;
    border: 1px solid #41719c;
    .content {
        .norm {
            color: #fff;
            font-size: 14px;
            a {
                color: #0563c1;
            }
        }
    }

}