.container-home {
    margin: 0 100px;
}

.header {
    .header-home {
        display: block;
        background-color: #A6A6A6;
        text-align: right;
        padding: 0 200px;
        .item {
            display: inline-block;
            text-decoration: none;
        }
        .link {
            color: #fff;
            font-weight: 700;
            font-size: 14px;
            &:hover {
                color: #ed7d31;
            }
        }
        span {
            color: #fff;
        }
    }
    .logo-form {
        display: flex;
        margin: 0 40px;
        .logo {
            width: 30%;
            height: 10px;
            color: #A6A6A6;
            .title-logo {
                color: #7F7F7F;
                text-decoration: none;
            }
            h3 {
                padding-top: 5px;
                width: 100%;
            }
        }
        .search {
            width: 40%;
            padding-top: 13px;
            text-align: center;
            .form .form-search {
                position: relative;
                display: flex;
                input {
                    outline: none;
                    border: 1px solid #ed7d31;
                    height: 30px;
                    width: 60%;
                }
                button {
                    background-color: #ed7d31;
                    border: none;
                    color: #fff;
                    width: 20%;
                }
            }
        }
        .list {
            width: 30%;
            display: flex;
            padding: 10px 10px;
            justify-content: left;
            .item {
                padding: 0px 2px;
                padding: 5px;
                height: 20px;
                padding-top:17px;
                background-color: #F2F2F2;
                a {
                    background-color: #fff;
                    border: 1px solid #BCBCBC;
                    padding: 5px;
                    text-decoration: none;
                    font-size: 16px;
                }
            }
        }

    }
}

.category {
    background-color: #f7f7f7;
    display: flex;
    .dropdown {
        position: relative;
        display: inline-block;
        .dropbtn {
            padding: 3px 20px;
            font-size: 16px;
            border: none;
            color: #7f7f7f;
            &:hover {
                background-color: #ed7d31;
            }
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 150px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            a {
                padding: 4px 17px;
                text-decoration: none;
                color: #000000;
                display: block;
                &:hover {
                    background-color: #ddd;
                }
            }
        }
        &:hover {
            .dropdown-content {
                display: block;
            }
        }
    }

}

.category-unable {
    display: flex;
    border-bottom: 1px solid #a6a6a6;
    .dropdown {
        position: relative;
        display: inline-block;
        .dropbtn {
            padding: 3px 20px;
            font-size: 16px;
            border: none;
            color: #7f7f7f;
            &:hover {
                background-color: #ed7d31;
            }
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 150px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            a {
                padding: 4px 17px;
                color: #000000;
                text-decoration: none;
                display: block;
                &:hover {
                    background-color: #ddd;
                }
            }
        }
        &:hover {
            .dropdown-content {
                display: block;
            }
        }
    }

}
