.post-new {
    background-color: #fff;
    .heading {
        .title {
            font-size: 18px;
            font-weight: 700;
            color: #bcbcbc;
        }
    }
    .content {
        .block {
            display: flex;
            .block-left {
                width: 30%;
                .b-images {
                    position: relative;
                    height: 400px;
                    img {
                        height: 100%;
                        width: 100%;
                        opacity: 50;
                        object-fit: cover;
                    }
                    .content {
                        background-color:rgba(192,192,192,0.3);
                        position: absolute;
                        bottom: 0%;
                        padding: 10px;
                        line-height: 20px;
                        .title-left {
                            padding-left: 5px;
                            .title {
                                color: #ffffff;
                                text-decoration: none;
                            }
                        }
                        p {
                            color: #ffffff;
                        }
                    }
                }
            }
            .block-right {
                width: 70%;
                display: flex;
                flex-wrap: wrap;
                .item {
                    width: 50%;
                    height: 200px;
                    &:first-child {
                        width: 100%;
                    }
                    .images {
                        position: relative;
                        img {
                            width: 100%;
                            height: 200px;
                            background-size: 100% 100%;
                            object-fit: cover;
                        }
                    }

                    .content {
                        position: absolute;
                        bottom: 0;
                        max-width: 80%;
                        background-color: #ffffff;
                        padding-left: 10px;
                        .content-title {
                            line-height: 20px;
                            .title {
                                color: #858585;
                                font-weight: 900;
                                font-size: 20px;
                                width: 100%;
                                text-decoration: none;
                            }
                        }
                        .content-norm {
                            color: #b7b7b7;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}
.article {
    background-color: #fff;
    .heading {
        padding: 10px 0;
        h2 {
            font-size: 18px;
            font-weight: 700;
            color: #7F7F7F;
        }
    }
    .article-content {
        .block {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .item {
                width: 49%;
                background-color: #ededed;
                margin-top: 7px;
                margin-bottom: 7px;
                box-shadow: 0 0 10px -2px rgba( #000000, 0.25);
                .images {
                    height: 230px;
                    img{
                        height: 250px;
                        width: 100%;
                    }
                }
                .content {
                    position: relative;
                    padding: 20px;
                    &:after {
                        position: absolute;
                        font-weight: 900;
                        right: 100px;
                        top: 30px;
                        font-size: 26px;
                        color: #8a8888;
                    }
                    .title {
                        color: #7F7F7F;
                        font-size: 20px;
                        font-weight: 700;
                    }
                    .norm {
                        color: #7F7F7F;
                        font-size: 16px;
                        white-space: normal;
                        width: 70%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
    .paginate {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        .button {
            background-color: #ededed;
            border-radius: 4px;
            border: none;
            padding: 7px 40px;
            border: 1px solid #bfbfbf;
            font-size: 15px;
            color: #999999;
            &:hover {
                background-color: #ed7d31;
            }
        }
    }
}