.panner {
    padding-top: 10px;
    background-color: #fff;
    .block {
        background-color:#fff;
        display: flex;
        .block-left {
            width: 30%;
            height: 350px;
            padding: 20px;
            background-color: #F2F2F2;
        }
        .content {
            span {
                color: #7F7F7F;
                font-size: 15px;
                font-weight: 900;
                font-style: italic;
            }
            h2{
                font-size: 24px;
                font-weight: 700;
                color: #7f7f7f;
            }
            p {
                background-color: #fff;
                padding: 10px;
                font-style: italic;
            }
            button {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #D9D9D9;
                border: 1px solid #7f7f7f;
                color: #525252;
                font-weight: bold;
                text-align: center;
                font-size: 1.25rem;
                cursor: pointer;
                bottom: 20px;
                padding: 0 20px;
                &:after {
                    content: "";
                    position: absolute;
                    height: 21.2132px;
                    width: 21.2132px;
                    transform: rotate(45deg);
                    top: 3.5px;
                    right: -12px;
                    background-color: #D9D9D9;
                    border-top: 1px solid #525252;
                    border-right: 1px solid #525252;
                }
            }
        }
        .block-right {
            width: 70%;
            height: 350px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
