<template>
    <h2>setting</h2>
</template>
<script>
    import Layout from "../../layout/Layout";
    export default {
        name: 'LayoutSetting',
        created() {
            this.$emit('update:layout', Layout);
        },
    }
</script>
