<template>
    <div class="main">
        <HeaaderComponent :user="user" ></HeaaderComponent>
        <div class="main-content">
            <div class="sidebar">
                <h5>メニュー一覧</h5>
                <SidebarComponent></SidebarComponent>
            </div>
            <div class="content">
                <slot/>
            </div>
        </div>
    </div>
</template>
<script>

    import HeaaderComponent from '../components/admin/HeaderComponent';
    import SidebarComponent from '../components/admin/SidebarComponent';

    export default {
        name: 'home_layout',
        components: {
            HeaaderComponent,
            SidebarComponent,
        },
        data() {
            return {
                user: {

                },
            }
        },
        created() {
            this.fetchData()
        },
        methods: {
            fetchData() {
                this.$auth.fetch({ url: '/auth/user', method: 'get' })
                    .then(res=>{
                        this.user = res.data.user;
                    });
            },
        }
    }
</script>
