<template>
    <div class="header">
        <div class="title-sidebar">
            <router-link :to="{ name: 'home'}" class="home">
                <h2>総合ジャーナル</h2>
            </router-link>
        </div>
        <div class="info-user">
            <div class="dropdown">
                <button v-on:click="dropDown()" v-click-outside="onClickOutside" class="menu-btn">{{ $auth.user().name }}<i class="fas fa-angle-down"></i></button>
                <div id="myDropdown" class="dropdown-child">
                    <a @click="logout">ログアウト</a>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import Vue from 'vue'
    import vClickOutside from 'v-click-outside'

    Vue.use(vClickOutside)
    export default {
        props: ['user'],
        methods: {
            logout: function () {
                this.$auth.logout()
            },
            dropDown() {
                document.getElementById("myDropdown").classList.toggle("show");
            },
            onClickOutside (event) {
                document.getElementById("myDropdown").classList.remove("show");
            }
        }
    }
</script>
