<template>
    <nav>
        <ul>
            <li v-for="item in getMenuByRole($auth.user().role)" :key="item.router">
                <router-link :to="{ name: item.router }">
                    <i class="fas fa-angle-right"></i>
                    {{ item.name }}
                </router-link>
            </li>
        </ul>
    </nav>
</template>

<script>
    export default {
        data () {
            return {
                role: {
                    isAdmin: 1,
                    isEditor: 2,
                    isWriter: 3,
                },
                adminMenu: [
                    { name: '発売号一覧管理', router: 'admin.release_number' },
                    { name: 'アドミンユーザー管理', router: 'admin.user' },
                    { name: 'カテゴリ管理', router: 'admin.categories' },
                    { name: 'メンバー一覧管理', router: 'admin.members' },
                    { name: '設定管理', router: 'admin.settings' }
                ],
                editorMenu: [
                    { name: '発売号一覧管理', router: 'admin.release_number' },
                    { name: 'カテゴリ管理', router: 'admin.categories' }
                ],
                commonMenu: [
                    { name: '記事一覧管理', router: 'admin.posts' },
                    { name: '画像管理', router: 'admin.images' }
                ]
            }
        },
        methods: {
            getMenuByRole (currentRole) {
                let result = []
                if (currentRole === this.role.isAdmin) {
                    result = this.adminMenu.concat(this.commonMenu)
                } else if (currentRole === this.role.isEditor) {
                    result = this.editorMenu.concat(this.commonMenu)
                } else if (currentRole === this.role.isWriter) {
                    result = this.commonMenu
                }
                return result
            }
        }
    }
</script>
