
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
@import "style";
@import "layout";
@import "header";
@import "sidebar";
@import "home";
@import "release_number/release_number_manager";
@import "release_number/release_number_add";
@import "release_number/release_number_edit";
@import "post/post_manager";
@import "post/post_add_edit";


// Bootstrap
@import '../../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../../node_modules/bootstrap-vue/src/index.scss';


@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
