.header {
    width: 100%;
    height: 50px;
    background-color: #5B9BD5;
    display: flex;
    .title-sidebar {
        width: 20%;
        text-align: center;
        padding-top:15px;
        .home {
            text-decoration: none;
            h2 {
                font-size: 17px;
                color: #FFFFFF;
            }
        }
    }
    .info-user {
        width: 80%;
        text-align: right;
        .dropdown {
            position: relative;
            margin-right: 5%;
            .menu-btn {
                width: 15%;
                background-color: #5B9BD5;
                border: none;
                height: 50px;
            }
        }
        .dropdown-child {
            &.show {
                display: block;
            }
            display: none;
            background-color: white;
            width: 15%;
            position: absolute;
            right: 0;
            text-align: right;
            a {
                color: #000000;
                padding: 15px;
                text-decoration: none;
                display: block;
                border: 1px solid #5B9BD5;
                text-align: center;
            }
        }

    }
}

.dropdown .dropdown-child {

}
