.welcom-admin {
    text-align: center;
    font-size:40px;
    color: #2ecc40;
    top:50%;
    h2 {
        position: absolute;
        top: 50%;
        left: 59%;
        transform: translate(-50%, -50%);
    }
}