.main {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    .main-content {
        width: 100%;
        display: flex;
        .sidebar {
            padding-top: 15px;
            width: 20%;
            border-right: 1px solid #767171;
            height: 100vh;
            h5 {
                padding-left: 5%;
                color: #767171;
                font-size: 12px;
            }
        }
        .content {
            width: 80%;
            height: 100%;
            padding: 15px 20px 20px 20px;
        }
    }
}
