ul {
    list-style-type: none;
    li {
        padding: 7px 0 7px 0;
        a {
            font-size: 17px;
            color: #767171;
            font-weight: 500;
            &:hover {
                text-decoration: none;
                color: #5B9BD5;
            }
        }
    }

}
