.show-post {
    padding-top: 50px;
    width: 100%;
    .title {
        padding: 0 30px;
    }
    .content {
        padding: 0 200px 20px 0;
    }
    .infor {
        border: 1px solid #bcbcbc;
        width: 60%;
        padding: 10px 10px;
        margin-bottom: 20px;
    }
}