.form-add {
    padding: 30px 17px 20px 17px;

    .form-group textarea {
        border-radius: 0;
    }

    .form-group label {
        color: #AFABAB;
        font-weight: 700;
    }

    .form-group {
        .form-image {
            display: flex;
            width: 100%;
            height: 170px;
            .show-image {
                width: 50%;
                border: 1px solid #ced4da;
                img {
                    width: 100%;
                    height: 170px;
                    object-fit: cover;
                }
            }
            .edit-image {
                width: 50%;
                padding-left: 5px;
                .vdp-datepicker {
                    height: 170px;
                    input {
                        width: 100%;
                        height: 40px;
                        font-size: 18px;
                        border: 1px solid #ced4da;
                    }
                }
            }
        }
    }
    .btn-group {
        padding: 40px 0 5px 0;
    }
    .btn-group .btn-submit {
        width: 70px;
        height: 40px;
        border: 1px solid #41719c;
        background-color: #deebf7;
    }
    .btn-group .btn-reset {
        width: 210px;
        height: 40px;
        margin-left: 20px;
        border: 1px solid #41719c;
        background-color: #fff2cc;
    }
}
