.form-add {
    padding: 30px 17px 20px 17px;
    .vdp-datepicker {
        input {
            width: 100%;
            height: 40px;
            font-size: 18px;
            padding-left: 15px;
            border: 1px solid #ced4da;
        }
    }
    .form-group textarea {
        border-radius: 0;
    }
    .form-group label {
        color: #AFABAB;
        font-weight: 700;
    }
    .form-group .dropzone-custom-content img {
        width: 100px;
        height: 50px;
    }
    .btn-group {
        padding: 40px 0 5px 0;
    }
    .btn-group .btn-submit {
        width: 70px;
        height: 40px;
        border: 1px solid #41719C;
        background-color: #DEEBF7;
    }
    .btn-group .btn-reset {
        width: 210px;
        height: 40px;
        margin-left: 20px;
        border: 1px solid #41719C;
        background-color: #FFF2CC;
    }
    #dropzone {
        text-align: center;
    }
}
