.wrapper-content {
    width: 100%;
    .title-release {
        width: 17%;
        h4 {
            font-size: 20px;
            font-weight: 700;
        }
    }
    .btn-register {
        margin: 20px 0 25px 0;
        width: 100px;
        border-radius: 0;
    }
    .table {
        width: 100%;
        .row-table {
            td {
                height: 150px;
            }
            .reles-id {
                text-align: center;
                width: 5%;
            }
            .reles-name {
                text-align: center;
                width: 30%;
            }
            .reles-img {
                text-align: center;
                width: 50%;
                img {
                    height: 150px;
                    width: 450px;
                    object-fit: cover;
                }
            }
            .reles-action {
                text-align: center;
                width: 15%;
                .btn-action {
                    padding: 5px;
                    button {
                        width: 100px;
                        padding: 3px;
                    }
                }
            }
        }
    }
    .page {
        padding-top: 50px;
    }
}
