.wrapper-content {
    width: 100%;
    height: 100%;
    .title-add-post {
        width: 17%;
        h4 {
            font-size: 20px;
            font-weight: 700;
        }
    }
    .form-add-post {
        padding: 30px 17px 20px 17px;
        .form {
            display: flex;
            .form-input {
                width: 73%;
                .form-group {
                    display: flex;
                    label {
                        width: 15%;
                        font-size: 15px;
                        margin: 3px 0;
                        color: #7f7f7f;
                        font-weight: 700;
                    }
                    input {
                        border-radius: 0;
                        width: 85%;
                        height: 30px;
                    }
                    .vdp-datepicker {
                        input {
                            width: 100%;
                            height: 30px;
                            font-size: 18px;
                            padding-left: 15px;
                            border: 1px solid #ced4da;
                        }
                    }
                }
            }
            .form-select-image {
                margin-left: 1%;
                width: 27%;
                background-color: #f2f2f2;
                .form-group {
                    label{
                        margin-left: 10px;
                        font-size: 15px;
                        color: #7f7f7f;
                        font-weight: 700;
                    }
                    select {
                        border-radius: 0;
                        width: 93%;
                        margin: 0 auto;
                        height: 30px;
                        padding: 0;
                        text-align-last: center;
                        color: #000000;
                    }
                    .vdp-datepicker {
                        input {
                            width: 27%;
                            height: 15px;
                            font-size: 10px;
                            border: 1px solid #ced4da;
                        }
                    }
                    .vue-dropzone {
                        margin: 0 20px 10px 20px;
                    }
                    img {
                        width: 100%;
                        height: 100px;
                    }
                }
            }

        }
        .btn-group {
            padding: 40px 0 5px 0;
            .btn-submit {
                width: 70px;
                height: 40px;
                border: 1px solid #41719C;
                background-color: #DEEBF7;
            }
            .btn-reset {
                width: 210px;
                height: 40px;
                margin-left: 20px;
                border: 1px solid #41719C;
                background-color: #FFF2CC;
            }
        }
    }
}
