.wrapper-content {
    width: 100%;
    height: 100%;
    .title-post {
        width: 17%;
        h4 {
            font-size: 20px;
            font-weight: 700;
            padding-left: 30px;
        }
    }
    .btn {
        border-radius: 0;
        width: 200px;
        background-color: #5b9bd5;
        border: 1px solid #41719c;
        margin-bottom: 10px;
    }
    .form-select {
        border: 1px solid #41719c;
        background-color: #f2f2f2;
        margin-bottom: 10px;
        .box-main {
            display: flex;
            width: 100%;
            margin: 7px 5px 7px 0;
            .box-select {
                display: flex;
                width: 85%;
                .box {
                    width: 35.55%;
                    margin-left: 10px;
                    .input-box {
                        display: flex;
                        width: 100%;
                        label {
                            width: 35%;
                        }
                        .input-value {
                            width: 60%;
                            height: 24px;
                            margin-left: 22px;
                            background-color: #e7e6e6;
                            border: 1px solid #41719c;
                            text-align-last: center;
                            color:#afafaf;
                        }
                        .btn {
                            width: 60%;
                            height: 24px;
                            padding: 0px;
                            background-color: #fff2cc;
                            font-size: 15px;
                            float: right;
                            margin:0 0 0 42%;
                        }
                    }
                }
            }
            .show-paginate {
                margin: 25px;
                border-left: 1px solid #D0CECE;
            }
        }
    }
    .table {
        thead tr th{
            border: 1px solid #41719c;
            background-color: #d0cece;
            vertical-align: middle;
            text-align: center;
        }
        tbody {
            border-top: 2px solid #41719c;
            tr {
                td {
                    border: 1px solid #41719c;
                    background-color: #f2f2f2;
                    vertical-align: middle;
                    text-align: center;
                }
            }
        }
        .id-table {
            width: 45px;
        }
        .action {
            width: 170px;
        }
        .btn-edit {
            width: 65px;
            padding: 0;
            border: 1px solid #41719c;
            background-color: #deebf7;
        }
        .btn-delete {
            width: 65px;
            padding: 0;
            border: 1px solid #41719c;
            background-color: #fbe5d6;
        }
        .show-content-post {
            width: 80px;
            padding: 0;
            border: 1px solid #41719c;
            background-color: #d6dce5;
        }
    }
    .modal {
        background-color: rgba(6, 17, 35, 0.3);
        .modal-dialog {
            max-width: 80vw;
        }
        .modal-content {
            border-radius: 0;
            border: 1px solid #41719c;
            height: 80vh;
            .modal-header {
                border-radius: 0;
                border-bottom: 1px solid #41719c;
                background-color: #f2f2f2;
                .modal-title {
                    font-weight: 600;
                }
                button {
                    border: 1px solid #41719c;
                    background-color: #fbe5d6;
                    padding: 0;
                    width: 100px;
                    height: 30px;
                }
            }
            .infor-post{
                padding: 0 2%;
                .info {
                    border: 1px solid #bcbcbc;
                    width: 70%;
                    padding-left: 2%;
                    font-weight: 500;
                }
            }
        }
        .modal-delete {
            max-width: 40vw;
            .modal-content {
                height: 30vh;
                .title-del {
                    height: 30px;
                    border: 1px solid #bcbcbc;
                    background-color: #e2f0d9;
                    .modal-title {
                        text-align: center;
                        h4 {
                            padding: 4px;
                        }
                    }
                }
                .modal-body {
                    background-color: #f2f2f2;
                }
                .modal-btn {
                    padding: 40px 5%;
                    background-color: #f2f2f2;
                    .btn-del {
                        background-color: #deebf7;
                        border: 1px solid #bcbcbc;
                    }
                    .btn-cancel {
                        background-color: #fff2cc;
                        border: 1px solid #bcbcbc;
                        margin-left: 4px;
                    }
                }
            }
        }
    }
}

