<template>
    <h2>cate</h2>
</template>
<script>
    import Layout from "../../layout/Layout";
    export default {
        components: {
            Layout
        },
        created() {
            this.$emit('update:layout', Layout);
        }
    }
</script>
