<template>
    <div class="welcom-admin">
        <h2>Welcom to admin site</h2>
    </div>
</template>
<script>
    import Layout from "../layout/Layout";
    export default {
        name: 'Admin',
        created() {
            this.$emit('update:layout', Layout);
        },
    }
</script>
